/*
|   ---------------------------------------------------------------------------------
|   @Components (Buttons)
|   ---------------------------------------------------------------------------------
|
*/

.button{
    background-color: var(--color-blue);
    color: var(--color-black);
    border: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    width: max-content;
    font-family: var(--ff-titulo);
    cursor: pointer;
}