/*
|   ---------------------------------------------------------------------------------
|   @Components (Buttons)
|   ---------------------------------------------------------------------------------
|
*/

.button{
    background-color: var(--color-blue);
    color: var(--color-black);
    border: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    width: max-content;
    font-family: var(--ff-titulo);
    cursor: pointer;
}

.button__menu{
    position: fixed;
    width: max-content;
    color: var(--color-blue);
    right: 5rem;
    top: 1rem;
    z-index: 10;
    font-size: 1rem;
    font-family: var(--ff-titulo);
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.button__menu i{
    font-size: 3rem;
}

.button--black{
    background-color: var(--color-black);
    font-size: 2rem;
    color: white;
    padding: 0.5rem 1rem;
}

.button--black:disabled,
.button--black[disabled]{
    background-color: rgb(177, 177, 177);
}

/* 
.button__menu p{
    color: black;
} */