/*
|   ---------------------------------------------------------------------------------
|   @Components (Tabs)
|   ---------------------------------------------------------------------------------
|
*/

.tab__container{
    padding: 2rem 5rem;
    width: 100%;

}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: var(--color-black);
    width: 100%;
    display: flex;
}
    @media screen and (min-width: 300px) and (max-width: 1010px) {
        .tab {
            flex-direction: column;
        }
    }
  
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    text-transform: uppercase;
    font-family: var(--ff-texto);
    color: white;
    font-size: 0.8rem;
}

.tab button:hover {
    color: var(--color-blue);
}
.tab button.active {
    color: var(--color-blue);
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
    font-family: var(--ff-texto);
    color: rgb(0, 0, 0);
}


.tabcontent--default{
    display: flex;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 6rem;
    width: 100%;
    font-family: var(--ff-texto);
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}